@tailwind base;
@tailwind components;
@tailwind utilities;

.navbarItem {
  @apply flex p-5 px-7 pr-12 items-center border-b border-[#313131] justify-between transition-all duration-150 cursor-pointer;
}

.hamburger-menu {
  position: absolute;
  right: 0px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.hamburger-menu-btn::after,
.hamburger-menu-btn::before {
  content: "";
  position: absolute;
  background-color: #ff3333;
  border-radius: 25px;
  height: 4px;
  right: 0;
  transition: all 0.2s ease-in-out;
}

.hamburger-menu-btn::after {
  transform: translateY(-7px);
  width: 36px;
}

.hamburger-menu-btn::before {
  transform: translateY(7px);
  width: 26px;
}

.open .hamburger-menu-btn::after {
  transform: rotate(45deg);
}

.open .hamburger-menu-btn::before {
  transform: rotate(-45deg);
  width: 36px;
}

input[type="checkbox"] {
  appearance: none;
  height: 25px;
  width: 25px;
  outline: 1px solid rgb(180, 180, 180);
  border-radius: 5px;
  cursor: pointer;
}

input[type="checkbox"]::after {
  content: "";
  background-image: url("../media/check.png");
  background-size: 14px 14px;
  height: 25px;
  width: 25px;
  display: flex;
  background-position: center;
  background-repeat: no-repeat;
}

input[type="checkbox"]:hover {
  outline: 1px solid red;
}

input[type="checkbox"]:checked::after {
  display: flex;
}

input[type="checkbox"]:checked {
  background-color: red;
  outline: 1px solid red;
}

.cardRow {
  position: relative;
  min-width: 36px;
  min-height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardRow-btn{
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardRow-btn::after,
.cardRow-btn::before {
  content: "";
  position: absolute;
  background-color: #ff3333;
  transition: all 0.4s ease-in-out;
}

.cardRow-btn::after {
  width: 2px;
  height: 16px;
}

.cardRow-btn::before {
  height: 2px;
  width: 16px;
}

.open .cardRow-btn::after {
  transform: rotate(-90deg);
}

.open .cardRow-btn::before {
  transform: rotate(-180deg);
}
